#headertop{
    background-color: brown;
    color: rgb(223, 182, 20);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    height:150px;
    width:100%;
}
#pagename{
    margin-left: 0px;
    font-size: 20px;
    display:flex;
}
#help{
   color:darkblue;
   font-size: 80px;
   font-family: cursive;
   margin-top:100px;
   margin-left:250px;
}
   
.mydiv1{
    display:flex;
}
.ynd{
    margin-left:400px;
   
}
.identity{
    width:300px
}
