
      .result1,.result2,.result3{
        display: flex;
        color: dodgerblue;
      }
      div.form-check, div.form-check-inline{
        margin-left: 30px;
      }
      .navbar{
      position: fixed;
      top: 0px;
      left: 0px;
      z-index: 1;
      width: 100%;
     }
     .col-md-8 {
     padding-top: 180px;
     } 
      .yup,.nope,.neither{
        width: 300px;
      }
      .percenty,.percentn,.percentd{
        margin-left: 25px;
      }
      .col-6, .col-md-4{
        background-color: hsl(55, 64%, 79%);
      }
      .col-md-8{
        background-color: rgb(243, 234, 137);
        font-family: cursive;
      }
      .row{
        height: 100%;
      }
      nav{
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
      }
      div.nav{
        text-align: center;
        
      }
  